.header {
  font-size: 1.2em;
  background-image: linear-gradient(#cccccc, #eeeeee, #cccccc);
  border: 1px solid #dddddd;
  padding: 2px;
}

app-user-row {
  padding: 2px;
  border: 1px solid #cccccc;
  border-top: none;
}
