nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: stretch;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #999;
  div,
  a {
    flex: 1;
    text-decoration: none;
    &:visited {
      color: black;
    }
  }
  .active-link {
    font-weight: bold;
    color: black;
  }
}
