/* You can add global styles to this file, and also import other style files */
app-users,
app-user-row {
  width: 100%;
}

.users-list,
app-user-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.quarter {
  display: flex;
  width: 25%;
}
